@model Tuple<List<Clothing>, Character>
<div class="miaImg">
    <img src="data:image/png;base64,@Model.Item2.Image" alt="@Model.Item2.Name" />
</div>
@foreach (var item in Model.Item1)
{
    <partial name="PartialViewGame" for="@item" />
}
```