@model Tuple<List<Clothing>, Character>
<div class="miaImg">
    <img src="data:image/png;base64,@Model.Item2.Image" alt="@Model.Item2.Name" />
    @if(Model.Item2.Hat != null)
    {
        <img src="data:image/png;base64,@Model.Item2.Hat.Image" />
    }
    @if (Model.Item2.Hair != null)
    {
        <img src="data:image/png;base64,@Model.Item2.Hair.Image" />
    }
        @if(Model.Item2.Shirt != null)
    {
        <img src="data:image/png;base64,@Model.Item2.Shirt.Image" />
    }
        @if(Model.Item2.Pants != null)
    {
        <img src="data:image/png;base64,@Model.Item2.Pants.Image" />
    }
    @if (Model.Item2.Shoes != null)
    {
        <img src="data:image/png;base64,@Model.Item2.Shoes.Image" />
    }
</div>
@foreach (var item in Model.Item1)
{
    <partial name="PartialViewGame" for="@item" />
}
