
@{
    ViewBag.Title = "Dress Up Game";
}
@model Scene

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="ad">
        <!-- Add your ad content here -->
        <h2>Ad Space</h2>
        <p>This is an advertisement.</p>
    </div>

    <div class="game-container">

        <div class="Btn-bottom">

           

            <a asp-controller="Story" asp-action="Page48" class="btn btn-primary mx-2">Next</a>


        </div>
       

        <div class="ad">
            <!-- Add your ad content here -->
            <h2>Ad Space</h2>
            <p>This is an advertisement.</p>
        </div>

        <div class="clear"></div>
</body>
</html>
