@{
    ViewData["Title"] = "Home Page";
}

<h1>Cyber Chic: The Virtual Vanguard</h1>
<p>Welcome to Cyber Chic: The Virtual Vanguard! In this game, you will be able to dress up your character in a variety of outfits and accessories. The game also has a compelling story to it that will surely be entertaining!</p>
<p>PS, this was made with Copilot, also (------ remove this text</p>
