@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Created by the Dream Team(Not affiliated with the DSMP) Go ahead and take whatever assets you want, I don't really care -ZK.</p>
