@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Scene

<h2>Scene @Model.Id</h2>
<p>@Model.Dialog</p>

@if (Model.Id > 1)
{
    @Html.ActionLink("Previous", "Prev", new { id = Model.Id }, new { @class = "btn btn-primary" })
}

@{
    int totalScenes = (int)ViewBag.TotalScenes;
}

@if (Model.Id < totalScenes)
{
    @Html.ActionLink("Next", "Next", new { id = Model.Id }, new { @class = "btn btn-primary" })
}