@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Scene

<!DOCTYPE html>
<html>
<head>
    <title>Next Scene</title>
</head>
<body>
    <!-- Render the next scene here based on the model -->
    <h1>Next Scene</h1>
    <p>Scene details go here...</p>
</body>
</html>

