@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Dress Up Game";
}
@model Scene

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        /* Add your CSS styles for the dress-up game here */


    </style>
</head>
<body>
    <div class="ad">
        <!-- Add your ad content here -->
        <h2>Ad Space</h2>
        <p>This is an advertisement.</p>
    </div>

    <div class="game-container">
       
        <div class="Btn-bottom">

            <a asp-controller="Story" asp-action="Page8" class="btn btn-primary mx-2">Prev</a>

            <a asp-controller="Story" asp-action="Page10" class="btn btn-primary mx-2">Next</a>


        </div>
        <p class="character-name">
            <b>
                Mia

            </b>
        </p>
        <p class="dialogue">
            Hey, what are you doing? Let go!
        </p>
    </div>

    <div class="ad">
        <!-- Add your ad content here -->
        <h2>Ad Space</h2>
        <p>This is an advertisement.</p>
    </div>

    <div class="clear"></div>
</body>
</html>
