@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
	ViewBag.Title = "Dress Up Game";
}
@model Scene

<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
</head>
<body>
	<div class="ad">
		<!-- Add your ad content here -->
		<h2>Ad Space</h2>
		<p>This is an advertisement.</p>
	</div>

	<div class="game-container">
		<img src="@Url.Content(Model.BackgroundImgURL)" alt="Scene Image" class="scene-image" />


		<div class="Btn-bottom">



			<a asp-controller="Story" asp-action="Page25" class="btn btn-primary mx-2">Next</a>


		</div>
		<div class="text-container">
			<p class="character-name">
				<b>
					Chapter 1: The Reluctant Apprentice


				</b>
			</p>
			<p class="dialogue">
				After Mia got done with the fitting of clothes on her Avatar she was put in the waiting room. There were way too many people in the waiting room for Mia to feel comfortable. She stands there just looking around at everyone’s outfit. Two other contestants came up to her.
			</p>
		</div>
	</div>

	<div class="ad">
		<!-- Add your ad content here -->
		<h2>Ad Space</h2>
		<p>This is an advertisement.</p>
	</div>

	<div class="clear"></div>
</body>
</html>
