@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Dress Up Game";
}
@model Scene

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="ad">
        <!-- Add your ad content here -->
<h2>Ad Space</h2>
        <p>This is an advertisement.</p>
    </div>

    <div class="game-container">

        <img src="@Url.Content(Model.BackgroundImgURL)" alt="Scene Image" class="scene-image" />
       
        <div class="Btn-bottom">

            <a asp-controller="Home" asp-action="Game" class="btn btn-primary mx-2">Prev</a>

            <a asp-controller="Story" asp-action="Next" class="btn btn-primary mx-2">Next</a>


        </div>
        <div class="text-container">
           
            <p class="dialogue">
                Mia is a young hacker in the city of Noennova. Mia isn’t just an aspiring young hacker she also has a knack for fashion. Within the city of Neonnova, there is a popular metaverse where everyone goes to relax and get away from everything. Mia often shows her love for fashion here by showing off her newest character's fashion design.
            </p>
        </div>

        </div>

        <div class="ad">
            <!-- Add your ad content here -->
            <h2>Ad Space</h2>
            <p>This is an advertisement.</p>
        </div>

        <div class="clear"></div>
</body>
</html>
